<<<<<<< HEAD
=======
h1 {
  font-size:50px;
  color:white;
}
>>>>>>> origin/master
body {
  background-color: black;
  text-align: center;
<<<<<<< HEAD
  font-family: "Verdana", sans-serif;
  color: white;
=======
  font-weight:normal;
>>>>>>> origin/master
}

.cta {
  color: aquamarine;
  font-size: 16px;
}

h1 {
  font-size: 50px;
  font-weight: normal;
}

h2 {
  font-size: 42px;
}

p {
  font-size: 21px;
  color: gray;
}

.footer {
  text-align: right;
} 
